$color-grey: #657786;
$color-dark: #14171a;
$color-blue: #1DA1F2;
$color-darkblue: #0071EB;
$color-extralightgrey: #E1E8ED;
$border-radius: 0.25rem;
$width: 500px;
$box-shadow: 0 2px 28px 0 rgba(0,0,0,0.12);

$breakpoint-lg: 768px;
$breakpoint-sm: 475px;

@import url('https://fonts.googleapis.com/css?family=Lato:700,900&display=swap');


html {
  font-size: 12px;
  // border: solid 1px red;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-dark;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

h1, h2, h3 {
  font-family: Lato, sans-serif;
  // font-family: Poppins, sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 32px;
}

h3 {
  text-align: left;
}

footer {
  // width: inherit;
  margin: 1rem 0;
  text-align: center;
  color: $color-grey;

  a, a:visited {
    color: $color-blue;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

#container {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > button {
    display: block;
    margin: 1rem auto;
  }
}

#form-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h1 {
    margin-bottom: 1rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 2rem;
    color: $color-grey;
  }
}

#form-input {
  position: relative;
  width: 100%;

  button {
    font-size: 2rem;
    line-height: 0;
    padding: 0 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    height: 100%;
    background: none;
    color: $color-darkblue;
  }

  svg {
    height: 100%;
    fill: $color-darkblue;
  }

  input {
    padding: 0.75rem 0.75rem;
    border: solid 1px $color-extralightgrey;
    width: 100%;
    box-sizing: border-box;
    background: none;

    &:focus {
      border: solid 1px $color-blue;
      box-shadow: 0 0 0 0.2rem rgba(29, 161, 242,.25);
      outline: none;
    }
  }
}

label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
}

button {
  background-color: $color-darkblue;
  border: none;
  padding: 0.75rem 1.5rem;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.25px;

  &:focus {
    outline: none;
  }
}

#result {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.tweet-container-container {
  margin: 0 auto;
  // border: solid 1px black;
  box-shadow: $box-shadow;
  width: 100%;
  margin-bottom: 1rem;
}

.twitter-picker {
  box-shadow: none !important;
  width: 100% !important;
  background: none !important;
}

.twitter-picker div div {
  // clear: left
}

.tweet-container:before {
  content: "";
  display: block;
  padding-top: 100%;
  float: left;
}

.tweet-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  display: flex;
  flex-direction: column;

  > img {
    width: $width;
    box-shadow: $box-shadow;
  }
}

#canvas-bar {
  display: flex;
  // justify-content: space-between;
  align-items: center;

  h3 {
    display: inline;
    margin-right: 1rem;
  }

  #refresh, #refresh:disabled {
    background: none;
    padding: 0;
    font-family: inherit;
  }

  #refresh {
    color: $color-darkblue;
  }

  #refresh:disabled {
    color: $color-extralightgrey;
  }

  #refresh span {
    font-size: 2rem;
    position: relative;
    top: 0.2rem;
    line-height: 0;
  }

}

#tweet {
  text-align: left;
  min-width: 75%;
  margin: 1.25rem;
  background-color: white;
  padding: 1.5rem;
  position: relative;

  .avatar {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    float: left;
    margin-right: 0.625rem;
  }

  .account-group, ._timestamp {
    font-size: 0.875rem;
  }

  .FullNameGroup {
    display: flex;
    align-items: center;
  }

  .js-tweet-text-container {
    margin-top: 0.8125rem;
  }

  .tweet-text {
    margin: 0;
    line-height: 1.4;
    font-size: 1rem;

    a, a:visited {
      color: $color-blue;
      text-decoration: none;
    }
  }

  .username, ._timestamp {
    color: $color-grey;
  }

  .username b {
    font-weight: normal;
  }

  ._timestamp:before {
    content: ' · '
  }

  #logo {
    width: 1.25rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem;
    margin-top: 0;
  }

  #badge {
    width: 1rem;
    height: 1rem;
    display: inline;
    padding-left: 0.25rem;
  }

  svg .icon {
    // put fill here
  }

  & > img{
    width: 100%;
    display: block;
    margin-top: 1rem;
  }

}


@media (min-width: $breakpoint-sm) {
  html {
    font-size: 16px;
  }

  #container {
    max-width: 550px;
  }

}

@media (min-width: $breakpoint-lg) {

  #container {
    max-width: none;
  }
  .tweet-container-container {
    width: $width;
  }

  #form-wrapper {
    width: $width;
  }

  #result {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

}
