@import url(https://fonts.googleapis.com/css?family=Lato:700,900&display=swap);
html {
  font-size: 12px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #14171a; }

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between; }

h1, h2, h3 {
  font-family: Lato, sans-serif; }

h1 {
  font-weight: 900;
  font-size: 32px; }

h3 {
  text-align: left; }

footer {
  margin: 1rem 0;
  text-align: center;
  color: #657786;
  font-size: 0.75rem; }
  footer a, footer a:visited {
    color: #1DA1F2;
    text-decoration: none; }
  footer a:hover {
    text-decoration: underline; }

#container {
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #container > button {
    display: block;
    margin: 1rem auto; }

#form-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  #form-wrapper h1 {
    margin-bottom: 1rem; }
  #form-wrapper p#support {
    margin-top: 0;
    margin-bottom: 2rem;
    color: #657786;
    font-size: 0.75rem; }
  #form-wrapper a, #form-wrapper a:visited {
    color: #1DA1F2;
    text-decoration: none; }
  #form-wrapper a:hover {
    text-decoration: underline; }
  #form-wrapper #error {
    text-align: left;
    color: #dc3545;
    margin-top: 0.5rem;
    font-size: 0.75rem; }

#form-input {
  position: relative;
  width: 100%; }
  #form-input button {
    font-size: 2rem;
    line-height: 0;
    padding: 0 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    height: 100%;
    background: none;
    color: #0071EB; }
  #form-input svg {
    height: 100%;
    fill: #0071EB; }
  #form-input input {
    padding: 0.75rem 2.5rem 0.75rem 0.75rem;
    border: solid 1px #E1E8ED;
    width: 100%;
    box-sizing: border-box;
    background: none;
    font-size: 1rem; }
    #form-input input:focus {
      border: solid 1px #1DA1F2;
      box-shadow: 0 0 0 0.2rem rgba(29, 161, 242, 0.25);
      outline: none; }

#form-input.error input {
  border: solid 1px #dc3545; }
  #form-input.error input:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    outline: none; }

label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem; }

button {
  background-color: #0071EB;
  border: none;
  padding: 0.75rem 1.5rem;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.25px; }
  button:focus {
    outline: none; }

#result {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 2rem; }

.tweet-container-container {
  margin: 0 auto;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  margin-bottom: 1rem; }

.twitter-picker {
  box-shadow: none !important;
  width: 100% !important;
  background: none !important; }

.tweet-container:before {
  content: "";
  display: block;
  padding-top: 100%;
  float: left; }

.tweet-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

#canvas {
  display: flex;
  flex-direction: column; }
  #canvas > img {
    width: 100%;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.12); }

#canvas-bar {
  display: flex;
  align-items: center; }
  #canvas-bar h3 {
    display: inline;
    margin-right: 1rem; }
  #canvas-bar #refresh, #canvas-bar #refresh:disabled {
    background: none;
    padding: 0;
    font-family: inherit; }
  #canvas-bar #refresh {
    color: #0071EB; }
  #canvas-bar #refresh:disabled {
    color: #E1E8ED; }
  #canvas-bar #refresh span {
    font-size: 2rem;
    position: relative;
    top: 0.2rem;
    line-height: 0; }

#tweet {
  text-align: left;
  min-width: 75%;
  margin: 1.25rem;
  background-color: white;
  padding: 1.5rem;
  position: relative; }
  #tweet .avatar {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    float: left;
    margin-right: 0.5rem; }
  #tweet .name {
    display: flex; }
  #tweet .account-group, #tweet .timestamp, #tweet .date {
    font-size: 0.875rem; }
  #tweet .account-group {
    display: flex;
    flex-direction: column; }
  #tweet .tweet-text {
    margin-top: 1rem;
    line-height: 1.3;
    font-size: 1.25rem;
    white-space: pre-wrap; }
  #tweet .blue {
    color: #1DA1F2;
    text-decoration: none; }
  #tweet .username, #tweet .timestamp, #tweet .date {
    color: #657786; }
  #tweet .username:before {
    content: '@'; }
  #tweet .date {
    text-align: right;
    margin-top: 1.5rem; }
  #tweet #logo {
    width: 1.75rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem;
    margin-top: 0; }
  #tweet #badge {
    width: 1rem;
    height: 1rem;
    display: inline;
    padding-left: 0.25rem; }
  #tweet .media {
    margin: 1rem -1.5rem 0 -1.5rem; }
    #tweet .media img {
      width: 100%;
      display: block; }

@media (min-width: 475px) {
  html {
    font-size: 16px; }
  #container {
    max-width: 550px; }
  #canvas > img {
    width: 500px; } }

@media (min-width: 768px) {
  #container {
    max-width: none; }
  .tweet-container-container {
    width: 500px; }
  #form-wrapper {
    width: 500px; }
  #result {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; } }

